<% include ./partials/header %>

<div class="card">
	<div class="card-body">
		<h1>
		<strong>Impressum</strong>
	</h1>
	<p>Anbieter:<br />Jeronimo Landauer<br />Halskestr 4<br />12167 Berlin</p>
	<p>Kontakt:<br />Telefon: 0176/21406169<br />E-Mail: mail@mustermann.de<br />Website: www.mustermann.de</p>
	
	<h2>
		Haftungs- und Urheberrechtshinweise
	</h2>
	<p>
		Haftungsausschluss: Die Inhalte dieses Onlineangebotes wurden sorgfältig und nach unserem aktuellen Kenntnisstand erstellt, dienen jedoch nur der Information und entfalten keine rechtlich bindende Wirkung, sofern es sich nicht um gesetzlich verpflichtende Informationen (z.B. das Impressum, die Datenschutzerklärung, AGB oder Widerrufsbelehrungen für Verbraucher) handelt. Wir behalten uns vor, die Inhalte vollständig oder teilweise zu ändern oder zu löschen, soweit vertragliche Verpflichtungen unberührt bleiben. Alle Angebote sind freibleibend und unverbindlich.
	</p>
	<p>
		Links auf fremde Webseiten: Inhalte fremder Webseiten, auf die wir direkt oder indirekt verweisen, liegen außerhalb unseres Verantwortungsbereiches und machen wir uns nicht zu Eigen. Für alle Inhalte und insbesondere für Schäden, die aus der Nutzung der in den verlinkten Webseiten aufrufbaren Informationen entstehen, haftet allein der Anbieter der verlinkten Webseiten.
	</p>
	<p>
		Urheberrechte und Markenrechte: Alle auf dieser Website dargestellten Inhalte, wie Texte, Fotografien, Grafiken, Marken und Warenzeichen sind durch die jeweiligen Schutzrechte (Urheberrechte, Markenrechte) geschützt. Die Verwendung, Vervielfältigung usw. unterliegen unseren Rechten oder den Rechten der jeweiligen Urheber bzw. Rechteverwalter.
	</p>
	<p>
		Hinweise auf Rechtsverstöße: Sollten Sie innerhalb unseres Internetauftritts Rechtsverstöße bemerken, bitten wir Sie uns auf diese hinzuweisen. Wir werden rechtswidrige Inhalte und Links nach Kenntnisnahme unverzüglich entfernen.
	</p>
	<p>
		<i>Erstellt mit Datenschutz-Generator.de von Dr. jur. Thomas Schwenke</i>
	</p>
	</div>
</div>
<% include ./partials/footer %>